.heading{
     color: gray;
     margin-top: 3%; 
     margin-left: 5%;  
     font-size: 1.4rem
}
.subheading{
    color: gray;
    margin-left: 5%;  
    font-size: 0.7rem;
}
.foot{
    margin-left: 3%;
    color: gray;
}
.foot:hover{
    border-bottom: 2px solid gray;
    color: gray;
    cursor: pointer;
}
.card{
    border: 1px solid black;
    border-radius: 5px;
}